* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;    
}

body {
    padding: 0.7rem 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
    text-align: center;
    background-color: #ffb80c;
}

input, button, select{
    width: 125px;
    margin: 2px;
}

.box{
    display: flex;
    justify-content: center;
}

hr{
    border: 1px solid rgb(172, 172, 172);
    margin: 10px 0;
}
.content{
    flex: 1;
}


label {
    width: 100%;
    font-weight: 600;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

input, select {
    padding: 2px 1px;
    outline: none;
    border: 0.5px solid rgb(252, 252, 252);
    border-radius: 2px;
    background-color: rgb(252, 252, 252);
}
select{
    padding: 1px;
}

input:focus {
    box-shadow: 0 0 0.3em rgb(0, 81, 255);
}

button {
    font-size: 14px;
    border-radius: 2px;
    background-color: rgb(9, 255, 0);
    cursor: pointer;
    padding: 2px 0;
}

#btnBet:not(:disabled):hover {
    background-color: #4caf50;
    color: white;
}

#btnBet:disabled {
    background-color: rgb(131, 131, 131);
    color: rgb(177, 177, 177);
    border-color: rgb(131, 131, 131);
}

#stop {
    background-color: rgb(253, 31, 31);
    color: black;
}

#stop:hover {
    background-color: rgb(170, 6, 6);
    color: white;
}
